# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Бібліотеки залежностей
package-lock.json
yarn.lock

# Середовище
.env

# Лог-файли
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директори, що містять вихідні файли
dist/
build/

# Додаткові конфігурації ОС або редакторів
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Тимчасові файли
tmp/
temp/
*.tmp
*.swp

#
